:root {
  --navbarHeight: 100px;
  --navbarColor: #1e2d3b;
  --textLight: #ffffff;
  --textDark: #1e2d3b;
  --accentColor: #edcd1f;
  --cardColor: #f7f7f7;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.parallax {
  background-image: url("./Resources/background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  position: fixed;
  height: var(--navbarHeight);
  width: 100%;
  background-color: var(--navbarColor);
  color: var(--textLight);
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#navbar-header {
  background-color: #edcd1f;
  width: 330px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-logo {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

#navbar-title {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

#navbar-title span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: black;
}

#navbar-links {
  width: 50%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.nav-link {
  cursor: pointer;
}

a.nav-link.active-link,
.nav-link:hover {
  color: #edcd1f;
  cursor: pointer;
}

.spacer-panel {
  position: relative;
  top: var(--navbarHeight);
  width: 100%;
  height: 220px;
  background-color: var(--accentColor);
}

.panel {
  position: relative;
  top: var(--navbarHeight);
  width: 100%;
  height: calc(100vh - var(--navbarHeight));
}

#home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home-content span {
  font-size: 79px;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.1em;
  font-weight: 500;
  width: 800px;
  color: var(--textLight);
}

#services-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-title {
  font-size: 55px;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.1em;
  font-weight: 500;
  width: 800px;
  color: var(--textDark);
}

#services-hr {
  position: relative;
  top: 10px;
  height: 10px;
  margin-bottom: 50px;
  width: 30%;
  background-color: #edcd1f;
  border: none;
}

#services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60vh;
  width: 60%;
  margin-top: 20px;
}

.services-item {
  width: calc(80% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-logo {
  height: 40%;
}

.services-description {
  width: 100%;
  height: 230px;
  margin-top: 20px;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 1.1em;
  padding: 5px 25px;
  background-color: var(--cardColor);
}

#about-content {
  background-color: var(--cardColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

#about-image {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

#about-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

#about-body .content-title,
#about-body p {
  text-align: start;
  width: 50%;
  padding-left: 20px;
}

#about-hr {
  position: relative;
  top: 10px;
  height: 10px;
  margin-bottom: 30px;
  width: 50%;
  background-color: #edcd1f;
  border: none;
}

#summary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.summary-text {
  font-size: 55px;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  font-weight: 500;
  color: #3d5975;
  text-align: center;
}

#projects-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

#projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 70%;
  margin-top: 20px;
  flex-flow: row wrap;
  overflow-wrap: normal;
}

.projects-item {
  width: calc(90vw / 3);
  height: calc(90vw / 3);
  margin: 10px 10px;
  overflow: hidden;
}

.projects-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-item img {
  transition: transform 0.5s ease-in-out;
}

.projects-item:hover img {
  transform: scale(1.2);
}
