.comp-jhhk4hfh div.pro-gallery-parent-container .gallery-item-wrapper-text .gallery-item-content {
	background-color: #3B3A3A
}

.comp-jhhk4hfh div.pro-gallery-parent-container .show-more-container i.show-more {
	color: rgba(0, 0, 0, 0.7)
}

.comp-jhhk4hfh div.pro-gallery-parent-container .show-more-container button.show-more {
	--loadMoreButtonBorderRadius: 0;
	--loadMoreButtonBorderColor: #3B3A3A;
	--loadMoreButtonBorderWidth: 1;
	--loadMoreButtonColor: #FFFFFF;
	--loadMoreButtonFont: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--loadMoreButtonFontColor: #3B3A3A;
	color: rgba(59, 58, 58, 0.9);
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration: ;
	background: rgb(255, 255, 255);
	border-width: 1px;
	border-color: rgb(59, 58, 58);
	border-radius: 0px
}

.comp-jhhk4hfh div.pro-gallery-parent-container .show-more-container.pro-gallery-mobile-indicator i.show-more {
	color: rgba(0, 0, 0, 0.7)
}

.comp-jhhk4hfh div.pro-gallery-parent-container .show-more-container.pro-gallery-mobile-indicator button.show-more {
	--loadMoreButtonBorderRadius: 0;
	--loadMoreButtonBorderColor: #3B3A3A;
	--loadMoreButtonBorderWidth: 1;
	--loadMoreButtonColor: #FFFFFF;
	--loadMoreButtonFont: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--loadMoreButtonFontColor: #3B3A3A;
	color: rgb(59, 58, 58);
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration: ;
	background: rgb(255, 255, 255);
	border-width: undefinedpx;
	border-color: rgb(59, 58, 58);
	border-radius: undefinedpx
}

.comp-jhhk4hfh .nav-arrows-container .slideshow-arrow {
	--arrowsColor: #FFFFFF;
	fill: rgb(255, 255, 255)
}

.comp-jhhk4hfh .nav-arrows-container.pro-gallery-mobile-indicator .slideshow-arrow {
	--arrowsColor: #FFFFFF;
	fill: rgb(255, 255, 255)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .auto-slideshow-counter {
	--itemDescriptionFontSlideshow: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--itemDescriptionFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item.load-with-color {
	--imageLoadingColor: #FFFFFF;
	background-color: rgb(198, 198, 198)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item.gallery-item-video i.gallery-item-video-play-triangle {
	--itemFontColor: #FFFFFF;
	color: rgb(59, 58, 58)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item.gallery-item-video i.gallery-item-video-play-background {
	--itemOpacity: #3B3A3A;
	color: rgba(255, 255, 255, 0.8)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info svg .gallery-item-svg-background,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover svg .gallery-item-svg-background {
	--itemOpacity: #3B3A3A;
	fill: rgba(255, 255, 255, 0.8)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info .gradient-top,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .gradient-top {
	--itemOpacity: #3B3A3A;
	background: linear-gradient(rgba(255, 255, 255, 0.8) 0, transparent 140px) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info {
	--itemIconColorSlideshow: #3B3A3A
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info a {
	color: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info svg .gallery-item-svg-foreground {
	fill: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info .info-element-title {
	--itemFontSlideshow: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--itemFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-slideshow-info .info-element-description {
	--itemDescriptionFontSlideshow: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--itemDescriptionFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover {
	--itemIconColor: #FFFFFF
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover a {
	color: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover svg .gallery-item-svg-foreground {
	fill: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .info-element-title {
	--itemFont: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--itemFontColor: #FFFFFF;
	color: rgb(59, 58, 58);
	font: normal normal normal 17px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .info-element-description {
	--itemDescriptionFont: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--itemDescriptionFontColor: #FFFFFF;
	color: rgb(255, 255, 255) !important;
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .custom-button-wrapper,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .info-element-custom-button-wrapper {
	--customButtonFontColor: #FFFFFF;
	color: rgb(255, 255, 255) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover .info-element-custom-button-wrapper button {
	--customButtonColor: #3B3A3A;
	--customButtonBorderRadius: 0;
	--customButtonBorderWidth: 1;
	--customButtonBorderColor: #FFFFFF;
	--customButtonFont: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: rgb(255, 255, 255) !important;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration: ;
	background: rgba(255, 255, 255, 0) !important;
	border-width: 1px;
	border-radius: 0px;
	border-color: rgb(255, 255, 255)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container:not(.invert-hover) .gallery-item-hover:before {
	--itemOpacity: #3B3A3A;
	background: rgba(255, 255, 255, 0.8) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container:not(.invert-hover) .gallery-item-hover.default.force-hover:before,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container:not(.invert-hover):hover .gallery-item-hover.default:not(.hide-hover):before {
	background: #3B3A3A !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.invert-hover .gallery-item-hover:before {
	--itemOpacity: #3B3A3A;
	background: rgba(255, 255, 255, 0.8) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.invert-hover .gallery-item-hover.default.force-hover:before,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.invert-hover:hover .gallery-item-hover.default:not(.hide-hover):before {
	background: #3B3A3A !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-title {
	--itemFontSlideshow: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--itemFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-description {
	--itemDescriptionFontColorSlideshow: #3B3A3A;
	--itemDescriptionFontSlideshow: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-text .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-text .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-custom-button-wrapper button {
	--customButtonFontForHover: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--customButtonFontColorForHover: #3B3A3A;
	--externalCustomButtonBorderWidth: 0;
	--externalCustomButtonBorderRadius: 0;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration: ;
	color: rgb(59, 58, 58) !important;
	background: rgba(237, 205, 31, 0) !important;
	border-color: rgb(59, 58, 58);
	border-width: 0px;
	border-radius: 0px
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item.load-with-color {
	--imageLoadingColor: #FFFFFF;
	background-color: rgb(198, 198, 198)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item.gallery-item-video i.gallery-item-video-play-triangle {
	--itemFontColor: #FFFFFF;
	color: rgb(59, 58, 58)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item.gallery-item-video i.gallery-item-video-play-background {
	--itemOpacity: #3B3A3A;
	color: rgba(255, 255, 255, 0.8) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info svg .gallery-item-svg-background,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover svg .gallery-item-svg-background {
	--itemOpacity: #3B3A3A;
	fill: rgba(255, 255, 255, 0.8) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info .gradient-top,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .gradient-top {
	--itemOpacity: #3B3A3A;
	background: linear-gradient(rgba(255, 255, 255, 0.8) 0, transparent 140px) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info {
	--itemIconColorSlideshow: #3B3A3A
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info a {
	color: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info svg .gallery-item-svg-foreground {
	fill: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info .info-element-title {
	--itemFontSlideshow: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--itemFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 23px/28px avenir-lt-w01_85-heavy1475544, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-slideshow-info .info-element-description {
	--itemDescriptionFontSlideshow: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--itemDescriptionFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover {
	--itemIconColor: #FFFFFF
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button),
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover a {
	color: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover svg .gallery-item-svg-foreground {
	fill: rgb(59, 58, 58) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .info-element-title {
	--itemFont: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--itemFontColor: #FFFFFF;
	color: rgb(59, 58, 58);
	font: normal normal normal 17px/21px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .info-element-description {
	--itemDescriptionFont: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--itemDescriptionFontColor: #FFFFFF;
	color: rgb(255, 255, 255) !important;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .custom-button-wrapper,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .info-element-custom-button-wrapper {
	--customButtonFontColor: #FFFFFF;
	color: rgb(255, 255, 255) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-wrapper .gallery-item-hover .info-element-custom-button-wrapper button {
	--customButtonColor: #3B3A3A;
	--customButtonBorderRadius: 0;
	--customButtonBorderWidth: 1;
	--customButtonBorderColor: #FFFFFF;
	--customButtonFont: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: rgb(255, 255, 255) !important;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration: ;
	background: rgba(255, 255, 255, 0) !important;
	border-width: undefinedpx;
	border-radius: undefinedpx;
	border-color: rgb(255, 255, 255)
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator:not(.invert-hover) .gallery-item-hover:not(.hide-hover):before {
	--itemOpacity: #3B3A3A;
	background: rgba(255, 255, 255, 0.8) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator:not(.invert-hover) .gallery-item-hover.default.force-hover:before,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator:not(.invert-hover):hover .gallery-item-hover.default:not(.hide-hover):before {
	background: #3B3A3A !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator.invert-hover .gallery-item-hover:before {
	--itemOpacity: #3B3A3A;
	background: rgba(255, 255, 255, 0.8) !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator.invert-hover .gallery-item-hover.default.force-hover:before,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator.invert-hover:hover .gallery-item-hover.default:not(.hide-hover):before {
	background: #3B3A3A !important
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-bottom-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-bottom-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-top-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-top-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-left-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-left-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-right-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-right-info .info-element-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-slideshow-info .gallery-item-title,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-slideshow-info .info-element-title {
	--itemFontSlideshow: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--itemFontColorSlideshow: #3B3A3A;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 23px/28px avenir-lt-w01_85-heavy1475544, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-bottom-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-bottom-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-top-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-top-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-left-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-left-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-right-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-right-info .info-element-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-slideshow-info .gallery-item-description,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-slideshow-info .info-element-description {
	--itemDescriptionFontColorSlideshow: #3B3A3A;
	--itemDescriptionFontSlideshow: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: rgb(59, 58, 58) !important;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-text .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-text .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-bottom-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-bottom-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-top-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-top-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-left-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-left-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-right-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-item-right-info .info-element-custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-slideshow-info .custom-button-wrapper button,
.comp-jhhk4hfh .pro-gallery.inline-styles .gallery-item-container.pro-gallery-mobile-indicator .gallery-slideshow-info .info-element-custom-button-wrapper button {
	--customButtonFontForHover: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	--customButtonFontColorForHover: #3B3A3A;
	--externalCustomButtonBorderWidth: 0;
	--externalCustomButtonBorderRadius: 0;
	font: normal normal normal 15px/18px helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration: ;
	color: rgb(59, 58, 58) !important;
	background: rgba(237, 205, 31, 0) !important;
	border-color: rgb(59, 58, 58);
	border-width: undefinedpx;
	border-radius: undefinedpx
}

.comp-jhhk4hfh .te-pro-gallery-text-item {
	font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
	color: #FFFFFF
}

.comp-jhhk4hfh .pro-fullscreen-wrapper .pro-fullscreen-text-item {
	--fullscreen-text-item-bg: #3B3A3A;
	background-color: #3B3A3A
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles {
	--bgColorExpand: #FFFFFF;
	background-color: rgb(255, 255, 255)
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .pro-fullscreen-selected-license,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .pro-fullscreen-checkout-link {
	--descriptionColorExpand: #3B3A3A;
	--descriptionFontExpand: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: rgb(59, 58, 58);
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-bottom-mobile-info {
	--bgColorExpand: #FFFFFF;
	background-color: rgb(255, 255, 255)
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-title {
	--titleColorExpand: #3B3A3A;
	--titleFontExpand: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	color: rgb(59, 58, 58);
	font: normal normal normal 17px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-description,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-description .fullscreen-side-bar-description-line,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-exif,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-link,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-bottom-link {
	--descriptionColorExpand: #3B3A3A;
	--descriptionFontExpand: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: rgb(59, 58, 58);
	font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
	text-decoration:
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-description:after,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-description .fullscreen-side-bar-description-line:after,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-exif:after,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-link:after,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-bottom-link:after {
	--descriptionColorExpand: #3B3A3A;
	border-color: rgb(59, 58, 58)
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-social i:not(.pro-gallery-loved),
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-social a,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-side-bar-social button,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-nav i:not(.pro-gallery-loved),
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-nav a,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-nav button,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-mobile-bar i:not(.pro-gallery-loved),
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-mobile-bar a,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-mobile-bar button,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-social i:not(.pro-gallery-loved),
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-social a,
.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-social button {
	--descriptionColorExpand: #3B3A3A;
	color: rgb(59, 58, 58)
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles i.fullscreen-item-video-play.progallery-svg-font-icons-play-triangle {
	--descriptionColorExpand: #3B3A3A;
	color: rgb(59, 58, 58)
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles i.fullscreen-item-video-play.progallery-svg-font-icons-play-background {
	--bgColorExpand: #FFFFFF;
	color: rgb(255, 255, 255)
}

.comp-jhhk4hfh .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles .fullscreen-icon {
	--descriptionColorExpand: #3B3A3A;
	--bgColorExpand: #FFFFFF;
	color: rgb(59, 58, 58);
	background: rgb(255, 255, 255)
}

div.comp-jhhk4hfh {
	width: 100%;
}
