html {
  scroll-behavior: smooth;
}

.parallax {
  background-image: url("./Resources/background.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .parallax {
    height: 50vh !important;
  }
}

.projects-item {
  overflow: hidden;
}

.projects-item img {
  transition: transform 0.5s ease-in-out;
}

.projects-item:hover img {
  transform: scale(1.2);
}
